<div [formGroup]="form">
  
  <label [attr.for]="item.key">{{item.label}}</label>
 
  <div [ngSwitch]="item.controlType">
 
    <input *ngSwitchCase="'textbox'" 
          [formControlName]="item.key"
          [id]="item.key"
          [type]="item.type">
 
    <select *ngSwitchCase="'dropdown'" 
            [formControlName]="item.key"        
            [id]="item.key">
      <option *ngFor="let opt of item.options" [value]="opt.key">
        {{opt.value}}
      </option>
    </select>
 
  </div> 
 
  <div class="errorMessage" *ngIf="!isValid">{{item.label}} is required</div>

</div>