<h2 i18n="LOGIN|Login@@Login_Title">Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="login()">  
  <label i18n="User Name:|Username@@Login_Label_Username">
    User Name:
    <input type="text" formControlName="username">
  </label>

  <label i18n="Password:|Password@@Login_Label_Password">
    Password:
    <input type="password" formControlName="password">
  </label>

  <button type="submit" [disabled]="!loginForm.valid" i18n="Login|login@@Login_Button_LogIn">Login</button>

</form>

<button (click)="cancel()" i18n="Cancel|Cancel@@Button_Cancel">Cancel</button>

<label *ngIf="errorMessage">{{errorMessage}}</label>
