<mat-toolbar color="primary">
    
    <mat-toolbar-row>

      <!-- Left -->
      <button mat-button class="logo" routerLink="">{{config.title}}</button>
  
      <span class="spacer"></span>
     
      <!-- Right -->
      <mat-icon class="icon-button">help</mat-icon>
  
      <span *ngIf="!isLoggedIn">
        <button mat-button (click)="login()">Login</button>
      </span>
        
      <mat-icon class="icon-button" *ngIf="isLoggedIn">settings</mat-icon>
      <mat-icon class="icon-button" *ngIf="isLoggedIn">mail</mat-icon>
      <span *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu">{{username}}</button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
          <button mat-menu-item>profile</button>
          <button mat-menu-item (click)="logout()">logout</button>
        </mat-menu>
      </span>

    </mat-toolbar-row>

  </mat-toolbar>