<mat-accordion multi="true">

  <mat-expansion-panel *ngFor='let module of modules; trackBy:trackByTitle'>

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{module.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      <a mat-list-item
        *ngFor='let submodule of module.modules; trackBy:trackByTitle'
        routerLink="{{submodule?.uri}}">
        {{submodule?.title}}
      </a>
    </mat-list>

  </mat-expansion-panel>

</mat-accordion>
