<div>

  <div *ngIf="!hasSubmodules">
    <a routerLink="{{module.uri}}">{{module.title}}</a>
  </div>

  <div *ngIf="hasSubmodules">

    <button (click)="toggle()">
        {{module.title}}

        <mat-icon *ngIf="isExpanded">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!isExpanded">keyboard_arrow_down</mat-icon>
    </button>

    <div *ngIf="isExpanded">
      <a *ngFor="let submodule of module.modules; trackBy:submodule?.title" [routerLink]="submodule.uri">
        {{submodule.title}}
      </a>
    </div>

  </div>

</div>
