:host {
  width:200px;
  height:300px;
  
  position: fixed;
  bottom: 5px;
  right: 5px;

  z-index: 100;
}

.popup {  
  width: 200px;
  padding: 8px;
  border-radius: 6px;
  background-color: #555;
  color: #fff;
}

.content {
  width: 180px;
  height: 240px;
  padding-top: 10px;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}