<div>

  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="formGroup">

    <div *ngFor="let item of items; trackBy:trackByKey" class="form__row">
      <app-dynamic-form-item
        class="form__item"
        [item]="item"
        [parentFormGroup]="formGroup">
      </app-dynamic-form-item>
    </div>

    <div class="form__row">
      <button mat-button
        i18n="Save|Save@@Button_Save"
        class="form__submit"
        type="submit"
        [disabled]="!(formGroup.dirty && formGroup.valid)">
        Save
      </button>
    </div>
  </form>

</div>
